
:root {
  --primary: #29075A;
  --secondary: #292929;
}

.secColor {
  background-color: darkred;
  padding: 100px;
  color: white;
}
.search {
  padding-top: 3.5px;
}

header{
  background: url(/img/tropical_bg1.jpg);
  background-size: cover;
  background-position: center;
  min-height: 1000px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 670px){
  header{
    min-height: 800px;
  }
  
}



.nav-bg{
  background: url(/img/bg4.webp);
}
.collapsible-header {
  color: #fff;
  background-color: var(--secondary);
}

.collapsible-body {
  background-color: #121212!important;
  
}
.collapsible {
  color: var(--primary)!important;
  width: 100%!important;
}
.collapsible.popout {
  color: var(--primary)!important;
  width: 100%!important;
}
.a-darken {
  color: var(--secondary)!important;
}
.name {
  font-size: 20px;
  font-weight: bold;
}
.collection a.collection-item {
  color: #fff!important;
  background-color: var(--secondary);
}
a.collection-header {
  color: var(--secondary);
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer{
  margin-top: auto;
}
.sidenav {
background-color: #F3F4FF;
}

.info {
  color: var(--secondary);
}
.eventtitle {
  font-weight: bold;
}
.section{
      padding-top: 2vw;
      padding-bottom: 7vw;
      display: flex;
      width: 100%;
      margin-top: auto;
      
    }

    .section-2{
      padding-top: 2vw;
      padding-bottom: 7vw;
      display: flex;
      width: 100%;
      background: url(/img/tropical_bg1.jpg);
      
    }
    .tabs .indicator{
      background-color: #0587d6;
      height: 5px!important;

    }
    .tabs .tab a:focus, .tabs .tab a:focus.active{
      background: transparent;

    }
  .tabs {
    background-color: #17141d;
  }
.section-background{
  padding-top: 4vw;
  padding-bottom: 4vw;
  background-color: #F3F4FF;
  background-size: cover;
  background-position: center;
  min-height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

  .section-backgroundTwo{
    padding-top: 4vw;
    padding-bottom: 4vw;
    background-color: #292929;
    background-size: cover;
    background-position: center;
    min-height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

    .section-backgroundThree {
      background-color: black;
      width: 100%;
    }
.collapsible-body {
  background-color: #fff;
}
.pad-bot {
  padding-bottom: 30px;
}

/* changing icon for collapsible */
.iconadd{
  display:inline-block ;
}
.iconremove{
  display:none !important;
}

li.active .collapsible-header .material-icons.iconadd{
  display: none;
}

li.active .collapsible-header .material-icons.iconremove{
  display: inline-block !important;
}

li.active {
  background-color: #fff;
}
.slider {
  margin-bottom: 0px;
  height: 200px!important;
  
}
.slides {
  background-color: white!important;
  height: 200px!important;
  margin-top: 0px;
  padding-top: 0px;
}

.indicators {
  display: none;
}

h5 {
  color: #17141d!important;
}

.blue-header {
  color: #0587d6!important;
}

.blue-background {
  background-color: #0587d6!important;
}

.blue-text {
  color: #0587d6!important;
}
.card2 {
  max-width: 500px;
  min-width: 250px;
  padding: 1rem;
  border-radius: 2rem;
  background: #17141d;
  display: flex!important;
  flex-direction: column;
  transition: .2s;
  margin: 0;
  scroll-snap-align: start;
  clear: both;
  position: relative;
  margin-bottom: 3rem;

}

h5 {
  color: #fff;
}

 h6 {
   color: #17141d;
 }



 hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 5px solid black;
  margin: 1em 0;
  padding: 0;
}

.card2 .card-image img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  border-radius: 16px;
}

.materialboxed{ display: inline-block; }
.center-align .materialboxed {
  margin: 0 auto; position: relative !important;
}
.card-link {
  display:block;
  border: none;
  font-size: 1rem!important;
  color: #fff!important;
  font-weight: 300!important;
}
/* code that rounds the image */
img.rounded {
  object-fit: cover;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.vertical-align-middle { 
  vertical-align: middle!important; 
}





/* changing icon for collapsible */
.box-overlay {
  z-index: 2;
  background: #fff;
  padding: 4rem;
  position: absolute;
  opacity: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 500px; }
  @media (max-width: 991.98px) {
    .box-overlay {
      width: 100%; } }



/* Slider */

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider
{
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;
  display: block;

}
.slick-track:before,
.slick-track:after
{
  display: table;
  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide img
{
  display: block;
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

.container {
  max-width: 100%;
}