
:root {
  --primary: #29075A;
  --secondary: #292929;
}

.secColor {
  background-color: darkred;
  padding: 100px;
  color: white;
}
.search {
  padding-top: 3.5px;
}


.parallax1 {
  background: url(/img/bg1.jpg);
  background-size: cover;
  background-position: center;
  min-height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  background: url(/img/bg2.jpg);
  background-size: cover;
  background-position: center;
  min-height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax3 {
  background: url(/img/bg3.jpg);
  background-size: cover;
  background-position: center;
  min-height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax4 {
  background: url(/img/bg4.jpg);
  background-size: cover;
  background-position: center;
  min-height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax5 {
  background: url(/img/bg5.jpg);
  background-size: cover;
  background-position: center;
  min-height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 670px){
  header{
    min-height: 800px;
  }
}

.parallax-container {
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-bg{
  background: url(/img/bg4.png);
}
.collapsible-header {
  color: #fff;
  background-color: var(--secondary);
}

.collapsible-body {
  background-color: #121212!important;
  
}
.collapsible {
  color: var(--primary)!important;
  width: 100%!important;
}
.collapsible.popout {
  color: var(--primary)!important;
  width: 100%!important;
}
.a-darken {
  color: var(--secondary)!important;
}
.name {
  font-size: 20px;
  font-weight: bold;
}
.collection a.collection-item {
  color: #fff!important;
  background-color: var(--secondary);
}
a.collection-header {
  color: var(--secondary);
}


.sidenav {
background-color: #F3F4FF;
}

.info {
  color: var(--secondary);
}
.eventtitle {
  font-weight: bold;
}
.section{
      padding-top: 4vw;
      padding-bottom: 4vw;
      display: flex;
      width: 100%;
    }
    .tabs .indicator{
      background-color: #0587d6;
      height: 5px!important;

    }
    .tabs .tab a:focus, .tabs .tab a:focus.active{
      background: transparent;

    }
  .tabs {
    background-color: #17141d;
  }
.section-background{
  padding-top: 4vw;
  padding-bottom: 4vw;
  background-color: #F3F4FF;
  background-size: cover;
  background-position: center;
  min-height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

  .section-backgroundTwo{
    padding-top: 4vw;
    padding-bottom: 4vw;
    background-color: #292929;
    background-size: cover;
    background-position: center;
    min-height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

    .section-backgroundThree {
      background-color: #fff;
      width: 100%;
    }
.collapsible-body {
  background-color: #fff;
}
.pad-bot {
  padding-bottom: 30px;
}

/* changing icon for collapsible */
.iconadd{
  display:inline-block ;
}
.iconremove{
  display:none !important;
}

li.active .collapsible-header .material-icons.iconadd{
  display: none;
}

li.active .collapsible-header .material-icons.iconremove{
  display: inline-block !important;
}

li.active {
  background-color: #fff;
}
.slider {
  margin-bottom: 0px;
  height: 200px!important;
}
.slides {
  background-color: white!important;
  height: 200px!important;
  margin-top: 0px;
  padding-top: 0px;
}

.indicators {
  display: none;
}

h5 {
  color: #17141d!important;
}

.blue-header {
  color: #0587d6!important;
}

.blue-background {
  background-color: #0587d6!important;
}

.blue-text {
  color: #0587d6!important;
}
.card2 {
  max-width: 500px;
  min-width: 250px;
  padding: 1rem;
  border-radius: 2rem;
  background: #17141d;
  display: flex!important;
  flex-direction: column;
  transition: .2s;
  margin: 0;
  scroll-snap-align: start;
  clear: both;
  position: relative;
  margin-bottom: 3rem;

}

h5 {
  color: #fff;
}

 h6 {
   color: #17141d;
 }


.card2 .card-image img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  border-radius: 16px;
}

.card-link {
  display:block;
  border: none;
  font-size: 1rem!important;
  color: #fff!important;
  font-weight: 300!important;
}
/* code that rounds the image */
img.rounded {
  object-fit: cover;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.vertical-align-middle { 
  vertical-align: middle!important; 
}





/* changing icon for collapsible */
.box-overlay {
  z-index: 2;
  background: #fff;
  padding: 4rem;
  position: absolute;
  opacity: 0.9;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 500px; }
  @media (max-width: 991.98px) {
    .box-overlay {
      width: 100%; } }
